<div class="page-wrapper">
  <div class="page-inner bg-brand-gradient">
    <div class="page-content-wrapper bg-transparent m-0">
      <component-auth-header></component-auth-header>
      <div class="flex-1">
        <router-outlet></router-outlet>
        <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
          2020 © Beaver by&nbsp;<a href="https://www.gotbootstrap.com" class="text-white opacity-40 fw-500" target="_blank">circlegiven</a>
        </div>
      </div>
    </div>
  </div>
</div>


