<component-gnb></component-gnb>
<component-lnb></component-lnb>
<component-layout-gnb [title]="'user list'"></component-layout-gnb>
<div class="am-mainpanel">
  <div class="am-pagebody">
    <div class="card pd-20 pd-sm-40">
      <h6 class="card-body-title">Beaver User List</h6>
      <p class="mg-b-20 mg-sm-b-30"></p>
      <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
          <thead>
          <tr>
            <th class="wd-15p">User name</th>
            <th class="wd-20p">E-mail</th>
            <th class="wd-15p">Created date</th>
            <th class="wd-15p">Updated date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of (userList | async)">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{user.modifiedTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
          </tbody>
        </table>
      </div><!-- table-wrapper -->
    </div><!-- card -->
  </div>
  <component-footer></component-footer>
</div><!-- am-mainpanel -->
