<div class="am-pagetitle">
  <h5 class="am-title">{{title}}</h5>
<!--  <form id="searchBar" class="search-bar" action="index.html">-->
<!--    <div class="form-control-wrapper">-->
<!--      <input type="search" class="form-control bd-0" placeholder="Search...">-->
<!--    </div>&lt;!&ndash; form-control-wrapper &ndash;&gt;-->
<!--    <button id="searchBtn" class="btn btn-orange"><i class="fa fa-search"></i></button>-->
<!--  </form>&lt;!&ndash; search-bar &ndash;&gt;-->
</div><!-- am-pagetitle -->
