<div component-title
     [title]="'Circlegiven'"
     [subTitle]="'@circlegiven'"
     [iconClass]="'fal fa-plus-circle'"></div>
<div class="row">
  <div class="col-xl-12">
    <div id="panel-3" class="panel">
      <div class="panel-container show">
        <div class="panel-content">
          <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab_justified-1" role="tab" aria-selected="false">설명</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_justified-2" role="tab" aria-selected="false">스킨</a></li>
          </ul>
          <div class="tab-content p-3">
            <div class="tab-pane fade active show" id="tab_direction-1" role="tabpanel">
              <div class="row">
                <!-- left -->
                <div class="col-lg-6 col-xl-6 order-lg-1 order-xl-1">
                  <!-- profile summary -->
                  <div class="card mb-g rounded-top">
                    <div class="row no-gutters row-grid">
                      <div class="col-12">
                        <div class="d-flex flex-column align-items-center justify-content-center p-4">
                          <img src="../../../assets/img/azurlane/ship/enterprise.png" class="shadow-2 card-img">
                          <h5 class="mb-0 fw-700 text-center mt-3">
                            Dr. Codex Lantern
                            <small class="text-muted mb-0">Toronto, Canada</small>
                          </h5>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="text-center py-3">
                          <a href="javascript:void(0);" class="width-3 height-2 d-inline-flex align-items-center justify-content-center position-relative h1 text-primary">
                            <img class="img-thumbnail" src="../../../assets/img/azurlane/icon/oil.png">
                            <span class="badge badge-icon pos-top pos-right">7</span>
                          </a>
                          <a href="javascript:void(0);" class="width-3 height-2 d-inline-flex align-items-center justify-content-center position-relative h1 text-primary">
                            <img class="img-thumbnail" src="../../../assets/img/azurlane/icon/oil.png">
                            <span class="badge badge-icon pos-top pos-right">9</span>
                          </a>
                          <a href="javascript:void(0);" class="width-3 height-2 d-inline-flex align-items-center justify-content-center position-relative h1 text-primary">
                            <img class="img-thumbnail" src="../../../assets/img/azurlane/icon/oil.png">
                            <span class="badge badge-icon pos-top pos-right">11</span>
                          </a>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="text-center py-3">
                          <h5 class="mb-0 fw-700">
                            1,673
                            <small class="text-muted mb-0">Followers</small>
                          </h5>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="p-3 text-center">
                          <a href="javascript:void(0);" class="btn-link font-weight-bold">Follow</a> <span class="text-primary d-inline-block mx-3">●</span>
                          <a href="javascript:void(0);" class="btn-link font-weight-bold">Message</a> <span class="text-primary d-inline-block mx-3">●</span>
                          <a href="javascript:void(0);" class="btn-link font-weight-bold">Connect</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-g">
                    <div class="row row-grid">
                      <div class="col-12">
                        <div class="p-3">
                          <h2 class="mb-0 fs-xl">
                            입수경로
                          </h2>
                        </div>
                        <div class="card m-1">
                          <table class="table table-dark">
                            <tbody>
                              <tr>
                                <td>2-1 보스드랍</td>
                              </tr>
                              <tr>
                                <td>상시건조</td>
                              </tr>
                              <tr>
                                <td>Larry</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //left -->
                <!-- right -->
                <div class="col-lg-6 col-xl-6 order-lg-2 order-xl-2">
                  <!-- 스킬 -->
                  <div class="card mb-g">
                    <div class="row row-grid">
                      <div class="col-12">
                        <div class="p-3">
                          <h2 class="mb-0 fs-xl">
                            스킬
                          </h2>
                        </div>
                        <div component-item class="m-1"
                             [image]="'../../../assets/img/beaver.png'"
                             [name]="'122mm 연장포'"
                             [description]="'tet'"></div>
                        <div component-item class="m-1"
                             [image]="'../../../assets/img/beaver.png'"
                             [name]="'122mm 연장포'"
                             [description]="'tet'"></div>
                        <div component-item class="m-1"
                             [image]="'../../../assets/img/beaver.png'"
                             [name]="'122mm 연장포'"
                             [description]="'tet'"></div>
                      </div>
                    </div>
                  </div>
                  <!-- //스킬 -->
                  <!-- 추천장비 -->
                  <div class="card mb-g">
                    <div class="row row-grid">
                      <div class="col-12">
                        <div class="p-3">
                          <h2 class="mb-0 fs-xl">
                            추천장비
                          </h2>
                        </div>
                        <div component-item class="m-1"
                             [image]="'../../../assets/img/beaver.png'"
                             [name]="'122mm 연장포'"
                             [description]="'tet'"></div>
                        <div component-item class="m-1"
                             [image]="'../../../assets/img/beaver.png'"
                             [name]="'122mm 연장포'"
                             [description]="'tet'"></div>
                        <div component-item class="m-1"
                             [image]="'../../../assets/img/beaver.png'"
                             [name]="'122mm 연장포'"
                             [description]="'tet'"></div>
                        <div component-item class="m-1"
                             [image]="'../../../assets/img/beaver.png'"
                             [name]="'122mm 연장포'"
                             [description]="'tet'"></div>
                        <div component-item class="m-1"
                             [image]="'../../../assets/img/beaver.png'"
                             [name]="'122mm 연장포'"
                             [description]="'tet'"></div>
                      </div>
                    </div>
                  </div>
                  <!-- //추천장비 -->
                </div>
                <!-- //right -->
              </div>
            </div>
            <div class="tab-pane fade" id="tab_direction-2" role="tabpanel">
              Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic.
            </div>
            <div class="tab-pane fade" id="tab_direction-3" role="tabpanel">
              Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
