<div class="am-signup-wrapper">
  <div class="am-signup-box">
    <div class="row no-gutters">
      <div class="col-lg-5">
        <div>
          <h2>Beaver</h2>
          <hr>
          <p>Already have an account? <br> <a [routerLink]="'/sign/signin'">Sign In</a></p>
        </div>
      </div>
      <div class="col-lg-7">
        <h5 class="tx-gray-800 mg-b-25">Signup to Your Account</h5>
        <div class="form-group">
          <label class="form-control-label">Email:</label>
          <input type="email" name="email" class="form-control" placeholder="Type email address">
        </div><!-- form-group -->

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Name:</label>
              <input type="text" name="firstname" class="form-control" placeholder="Type firstname">
            </div><!-- form-group -->
          </div><!-- col -->
        </div><!-- row -->

        <div class="row row-xs">
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Password:</label>
              <input type="password" name="password" class="form-control" placeholder="Type password">
            </div><!-- form-group -->
          </div><!-- col -->
          <div class="col">
            <div class="form-group">
              <label class="form-control-label">Confirm Password:</label>
              <input type="password" name="conpassword" class="form-control" placeholder="Retype password">
            </div><!-- form-group -->
          </div><!-- col -->
        </div><!-- row -->
        <button type="submit" class="btn btn-block">Sign Up</button>
      </div><!-- col-7 -->
    </div><!-- row -->
    <p class="tx-center tx-white-5 tx-12 mg-t-15">Copyright &copy; 2019. All Rights Reserved. by circlegiven</p>
  </div><!-- signin-box -->
</div>
